.login-register-bg {
    background: url('./../images/hero_bg_2.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
}


.login-register-bg {
    background-color: #f8f9fa;
    min-height: 100vh;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}